body {
    margin: 0;
    background-color: #748073;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.containerLeft {
    float: left;
    width: 300px;
    background-color:rgb(92, 73, 73);
    height: 100vh;
    text-align: center;
}

#containerImg {
    height: 150pt;
    width: 200pt;
    border-radius: 100%;
    margin: 10px;
}

h1 {
    font-size: 50px;
    color: white;
}